<div class="col-md-8 col-md-offset-2">
  <h2>修改职位</h2>

  <%= simple_form_for [:admin, @job] do |f| %>


    <%= f.input :title, :label => "职位名称" %>

    <%= f.input :description, :label => "职位描述"  %>

    <%= f.input :wage_upper_bound, :label => "薪资上限" %>

    <%= f.input :wage_lower_bound, :label => "薪资下限" %>

    <%= f.input :contact_email, :label => "通讯邮箱" %>

    <%= f.input :is_hidden %>

    <br>
    <%= f.submit 'Submit', :data => {disable_with: "Submitting..."} %>
  <% end %>

</div>
